<form autocomplete="off">
    <div class="form-group">
        <label>Movement Sound</label>
        <input type="checkbox" name="enableMovementSound" {{checked enableMovementSound}}>
        <p class="notes">Play a sound when a vehicle token starts moving.</p>
    </div>

    <div class="form-group">
        <label>Sound File</label>
        <div class="form-fields">
            <input type="text" name="movementSoundPath" value="{{movementSoundPath}}">
            <button type="button" data-action="browse-sound" title="Browse audio files">
                <i class="fas fa-folder-open"></i>
            </button>
        </div>
    </div>

    <div class="form-group">
        <label>Sound Volume</label>
        <div class="form-fields">
            <input type="range" name="movementSoundVolume" value="{{movementSoundVolume}}" min="0" max="1" step="0.05">
            <input type="number" value="{{movementSoundVolume}}" min="0" max="1" step="0.05" onchange="this.previousElementSibling.value=this.value">
        </div>
    </div>

    <hr>

    <div class="form-group">
        <label>Thruster Effect</label>
        <input type="checkbox" name="enableThrusterEffect" {{checked enableThrusterEffect}}>
        <p class="notes">Show a faded thrust cone underneath moving vehicle tokens.</p>
    </div>

    <div class="form-group">
        <label>Default Thruster Color</label>
        <div class="form-fields">
            <input type="color" name="thrusterColor" value="{{thrusterColor}}" data-color-picker="thrusterColor">
            <input type="text" data-color-text="thrusterColor" value="{{thrusterColor}}">
        </div>
    </div>

    {{#if isTokenConfig}}
    <hr>

    <div class="form-group">
        <label>{{tokenName}} Exhaust Color</label>
        <input type="checkbox" name="useTokenThrusterColor" {{checked useTokenThrusterColor}}>
        <p class="notes">Use a custom exhaust color for this vehicle token.</p>
    </div>

    <div class="form-group" data-token-color-fields style="{{#unless useTokenThrusterColor}}display: none;{{/unless}}">
        <label>Ship Thruster Color</label>
        <div class="form-fields">
            <input type="color" name="tokenThrusterColor" value="{{tokenThrusterColor}}" data-color-picker="tokenThrusterColor">
            <input type="text" data-color-text="tokenThrusterColor" value="{{tokenThrusterColor}}">
        </div>
    </div>
    {{/if}}

    <div class="form-group">
        <label>Thruster Length</label>
        <div class="form-fields">
            <input type="range" name="thrusterLength" value="{{thrusterLength}}" min="0.25" max="6" step="0.25">
            <input type="number" value="{{thrusterLength}}" min="0.25" max="6" step="0.25" onchange="this.previousElementSibling.value=this.value">
        </div>
    </div>

    <div class="form-group">
        <label>Thruster Width</label>
        <div class="form-fields">
            <input type="range" name="thrusterWidth" value="{{thrusterWidth}}" min="0.1" max="3" step="0.05">
            <input type="number" value="{{thrusterWidth}}" min="0.1" max="3" step="0.05" onchange="this.previousElementSibling.value=this.value">
        </div>
    </div>

    <footer class="sheet-footer flexrow">
        <button type="submit">
            <i class="fas fa-save"></i> Save
        </button>
    </footer>
</form>
